language: php

php:
  - 5.5
  - 5.6
  - 7.0
  - hhvm

install:
    - composer self-update
    - composer install --verbose --dev --prefer-dist --no-interaction --optimize-autoloader

script:
    - ./vendor/bin/phpunit -c ./tests/phpunit.xml.dist ./tests
    - ./vendor/bin/phpcs --encoding=utf-8 --extensions=php --standard=./tests/phpcs.xml -nsp ./

notifications:
    email: false

matrix:
  allow_failures:
    - php: hhvm
